<div class="quote-form">
  <div class="container">
    <h2 class="title text-center">Your Quote</h2>
    <h5>Your Information</h5>
    <hr/>
    <div *ngIf="loanData">
      <div class="container">
        <div class="d-flex">
          <div class="flex-grow-1">
            <p><strong>Name:</strong> </p>
          </div>
          <div class="flex-grow-2">
            {{ loanData.customer.firstName }} {{ loanData.customer.lastName }}
          </div>
        </div>

        <div class="d-flex">
          <div class="flex-grow-1">
            <p><strong>Mobile:</strong> </p>
          </div>
          <div class="flex-grow-2">
            {{ loanData.customer.mobile }}
          </div>
        </div>

        <div class="d-flex">
          <div class="flex-grow-1">
            <p><strong>Email:</strong> </p>
          </div>
          <div class="flex-grow-2">
            {{ loanData.customer.email }}
          </div>
        </div>
      </div>
      <br/>
      <h5>Finance Details</h5>
      <hr/>
      <div class="container">
        <div class="d-flex">
          <div class="flex-grow-1">
            <p><strong>Finance Amount:</strong> </p>
          </div>
          <div class="flex-grow-2">
            {{ loanData.financeAmount }}
          </div>
        </div>

        <div class="d-flex">
          <div class="flex-grow-1">
            <p><strong>Term:(monthly)</strong> </p>
          </div>
          <div class="flex-grow-2">
            {{ loanData.term }}
          </div>
        </div>

        <div class="d-flex">
          <div class="flex-grow-1">
            <p><strong>Repayments from: (monthly payment)</strong> </p>
          </div>
          <div class="flex-grow-2">
            {{ loanData.monthlyAmortization }}
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#updateModal">
        Update Loan Details
      </button>
    </div>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Loan Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
          <div class="form-group">
            <label for="term" class="form-label">Term</label>
            <input type="number" id="term" formControlName="term" class="form-control" />
            <div *ngIf="submitted && updateFormControl['term'].errors" class="text-danger">
              <div *ngIf="updateFormControl['term'].errors['required']">Term is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="financeAmount" class="form-label">Finance Amount</label>
            <input type="number" id="financeAmount" formControlName="financeAmount" class="form-control" />
            <div *ngIf="submitted && updateFormControl['financeAmount'].errors" class="text-danger">
              <div *ngIf="updateFormControl['financeAmount'].errors['required']">Finance amount is required.</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>