<div class="container mt-4">
    <h2>Blacklisted Email Domains</h2>
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addDomainModal">
      Add
    </button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Domain Name</th>
     
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domain of emailDomains">
          <td>{{ domain.domainName }}</td>
          <!-- <td>{{ domain.isActive ? 'Yes' : 'No' }}</td> -->
        </tr>
      </tbody>
    </table>
  
    <!-- Add Domain Modal -->
    <div class="modal fade" id="addDomainModal" tabindex="-1" aria-labelledby="addDomainModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addDomainModalLabel">Add Blacklisted Email Domain</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addDomainForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="domainName" class="form-label">Domain Name</label>
                <input type="text" id="domainName" formControlName="domainName" class="form-control" />
                       

                
                <div *ngIf="submitted && addDomainFormControl['email'].errors" class="text-danger">
                  <div *ngIf="addDomainFormControl['email'].errors['required']">Domain Name is required.</div>
                  <div *ngIf="addDomainFormControl['email'].errors['pattern']">Invalid domain name format.</div>
                </div>
                
              </div>
              <div class="form-group">
               
                <!-- <select id="isActive" formControlName="isActive" class="form-control">
                  <option [value]="true">Yes</option>
                  <option [value]="false">No</option>
                </select> -->
              </div>
       
              <div *ngIf="serverErrorMessage" class="alert alert-warning">
                {{ serverErrorMessage }}
              </div>
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeModalButton">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>